.games {
    text-align: center;
    vertical-align: middle;
    width: 80%;
    height: 300px;
    background: white;
    margin: auto;
    padding: 1px;
}
.pick_button {
    text-align: center;
    vertical-align: middle;
    width: 80%;
    height: 40px;
    background: white;
    margin: auto;
    padding: 1px;
}
.picks {
    width: 80%;
    min-height: 180px;
    height: auto;
    background: gray;
    margin: auto;
    padding: 1px;
}
.index{
    width: 90%;
    min-height: 180px;
    height: auto;
    background: white;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
    text-align:center;
}
.response{
    text-align: center;
    vertical-align: middle;
    width: 80%;
    margin: auto;
    padding: 1px;
}
.standings{
    width: 90%;
    min-height: 180px;
    height: auto;
    background: white;
    margin: auto;
    padding: 1px;
}
.selection {
    width: 20%;
    height: 178px;
    background: white;
    float: left;
}

.games-layout {
    width: 33%;
    height: 160px;
    background: white;
    float: left;
    border: .5px solid gray;
    border-radius: 5px;
}

@media screen and (max-width: 900px) {
  .games-layout{
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .games-layout{
    width: 100%;
  }
}

input[type="text"]
{
  opacity: 0;
  width: 0;
  float: left;
}

#label50
{
  float: left;
}

img {
  max-width: 30%;
  height: auto;
}

@media screen and (max-width: 700px) {
  img {
  max-width: 60%;
  height: auto;
  }
}


.required {
    width: 33%;
    height: 160px;
    background: #F8F16B;
    float: left;
    border: .5px solid gray;
    border-radius: 5px;
}
@media screen and (max-width: 900px) {
  .required {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .required {
    width: 100%;
  }
}

.header {
    text-align: center;
}
h4{
    position: relative;
    top: 15px;
}
.choice {
   display:table;
   margin:0 auto;
   text-align:center;
}
.teamlist {
    display: block;
    margin: 0 auto;
}